* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;

    /* colors */
    --red: #91092f;
    --green: #455d5b;
    --yellow: #d5ad60;
    --white: #fff;
    --backgroound: #fcf8f1;
    --black: #000;

    /* paddings */
    --buttonPadding: 1.4rem 2.5rem 1.4rem 1.5rem;
}

.landingPageWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 124.8rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 104.8rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 24.2rem;
    padding: 0 2rem;
    margin-top: 3rem;
    background-image: url('../../assets/pictures/YR2011_MG_15__lp_christmas_desktop_PL_03.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50rem;
}

.header__title {
    font-size: 3rem;
    margin: 2rem auto 0 auto;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

.header__selectContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.header__select {
    margin: 1.2rem auto;
    width: 100%;
    max-width: 40rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__select--title,
.header__options {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white);
    line-height: 4rem;
    background: var(--green);
    cursor: pointer;
    border: 0.1rem solid var(--yellow);
}

.header__select--title::after {
    content: "";
    border-left: 7px solid transparent;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
}

.header__options {
    position: absolute;
    width: -webkit-fill-available;
    top: 100%;
    padding: 0;
    flex-direction: column;
    background-color: var(--white);
    color: var(--black);
    border: none;
    transition: opacity 0.4s ease-in;
    z-index: 10;
}

.header__options--hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.header__select--option {
    width: 100%;
    padding: 0 2.2rem;
    border: 0.1rem solid var(--yellow);
    transition: background-color 0.4s ease-in, color 0.4s ease-in-out;
    cursor: pointer;
}

.header__select--option:hover {
    background-color: var(--green);
    color: var(--white);
}

.link__button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red);
    color: var(--white);
    padding: 1.4rem 2.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 700;
    transition: background-color 0.4s ease-in, color 0.4s ease-out;
    margin: 3rem auto;
    width: 15rem;
    cursor: pointer;
}

.link__button:hover {
    color: var(--red);
    background-color: var(--white);
}

.header__button {
    position: relative;
    margin-top: 3rem;
    bottom: unset;
    left: unset;
    transform: translateX(0);
}

.main__contentWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.main__infoBox {
    position: relative;
    margin-top: 2.5rem;
}

.main__infoBox--collections {
    z-index: 4;
}

.main__infoBox--callendar {
    z-index: 3;
}

.main__infoBox > img {
    width: 100%;
    height: auto;
}

.main__smallPicture {
    display: none;
    position: absolute;
    height: 25rem;
    pointer-events: none;
}

.main__smallPicture--rabbit {
    height: 20rem;
    right: -5rem;
    top: 38%;
    transition: transform 1s ease;
}

.main__smallPicture--flower1 {
    left: 43%;
    top: 3rem;
    z-index: 3;
}

.main__smallPicture--flower2 {
    left: 0;
    top: 25%;
    height: 40rem;
    transform: rotate(-25deg);
}

.main__smallPicture--flower3 {
    bottom: 0;
    left: 50%;
    height: 30rem;
    transform: translateX(-50%) rotate(-15deg);
    z-index: 4;
}

.main__smallPicture--active {
    transform: translateX(-40%);
}

/* RWD */

@media (min-width: 82rem) {
    .header {
        padding: 0 8rem;
        height: unset;
    }

    .header__select {
        width: 100%;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .header__selectContainer {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main__contentWrapper {
        justify-content: space-between;
    }

    .main__smallPicture {
        display: block;
    }

    .link__button {
        bottom: 3rem;
    }

    .header__button {
        bottom: unset;
    }
}
